.profile {
  width: 350px;
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 3px;
  margin: 20px;
  box-shadow: #0000007d 1px 1px 3px;
}
.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px;
  border-radius: 5px 5px 0 0;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.stats {
  background-color: #f3f6f9;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  width: 100%;
  border-radius: 0 0 5px 5px;
}
.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #eaeef4;
  padding: 10px;
  width: calc(100% / 3);
}
.quantity {
  margin: 0 5px;
}
.name {
  font-size: 18px;
}
.tag,
.location {
  color: #5c6269;
}
.profile:nth-child(n + 1) .avatar {
  background-color: crimson;
}
.profile:nth-child(2n + 1) .avatar {
  background-color: aqua;
}
.profile:nth-child(3n + 1) .avatar {
  background-color: cadetblue;
}
.profile:nth-child(4n + 1) .avatar {
  background-color: darkorange;
}
.profile:nth-child(5n + 1) .avatar {
  background-color: deepskyblue;
}
.profiles {
  display: flex;
  flex-wrap: wrap;
}
