.friendList {
  width: 350px;
  list-style: none;
  background-color: #fff;
  padding: 5px 0;
}
.friendList__item {
  display: flex;
  align-items: center;
  padding: 5px;
  box-shadow: #0000007d 1px 1px 3px;
  margin: 10px;
}
.friendList__avatar {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin: 5px 15px;
}
.friendList__item:nth-child(n + 1) .friendList__avatar {
  background-color: crimson;
}
.friendList__item:nth-child(2n + 1) .friendList__avatar {
  background-color: aqua;
}
.friendList__item:nth-child(3n + 1) .friendList__avatar {
  background-color: cadetblue;
}
.friendList__item:nth-child(4n + 1) .friendList__avatar {
  background-color: darkorange;
}
.friendList__item:nth-child(5n + 1) .friendList__avatar {
  background-color: deepskyblue;
}
.active,
.inactive {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
}
.active {
  background-color: #47af4a;
}
.inactive {
  background-color: #fe4f52;
}
